footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    border-top: 3px var(--primary-color) solid;
    overflow: hidden;
    clear: both;
    border-radius: 5rem;
    background-color: black;
  }
  .footer-socials {
    color: var(--primary-color);
    margin: 1rem auto;
    font-weight: bold;
    background-color: black;
  }
  .footer-lists {
    padding-inline-start: 0px;
    margin-top: 1.5rem;
    background-color: black;
  }
  .footer-list-inline {
    display: inline;
    background-color: black;
  }
  .links {
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 1rem;
    color: var(--primary-color);
    background-color: black;
  }