@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

:root {
  --primary-color: #b8dbd9;
  --background-color: #000000;
}

